/* 定义css变量 */
/* 获取不同设备对应的px */
/* 获取rem */
a,
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
input,
label,
li,
object,
ol,
p,
q,
small,
span,
strong,
table,
tbody,
td,
th,
tr,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background: #fff;
  font-family: STHeiti, Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: none;
  word-break: break-word;
}
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 17px;
}
[data-dpr="2"] body {
  font-size: 34px;
}
[data-dpr="2.5"] body {
  font-size: 43px;
}
[data-dpr="2.75"] body {
  font-size: 47px;
}
[data-dpr="3"] body {
  font-size: 51px;
}
[data-dpr="4"] body {
  font-size: 68px;
}
.indexContainer.withHeader {
  padding-top: 80px;
}
[data-dpr="2"] .indexContainer.withHeader {
  padding-top: 160px;
}
[data-dpr="2.5"] .indexContainer.withHeader {
  padding-top: 200px;
}
[data-dpr="2.75"] .indexContainer.withHeader {
  padding-top: 220px;
}
[data-dpr="3"] .indexContainer.withHeader {
  padding-top: 240px;
}
[data-dpr="4"] .indexContainer.withHeader {
  padding-top: 320px;
}
/*header*/
#indexHeader {
  display: block;
  z-index: 999;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.top_bar {
  height: 44px;
  position: relative;
  background: #d43d3d;
}
[data-dpr="2"] .top_bar {
  height: 88px;
}
[data-dpr="2.5"] .top_bar {
  height: 110px;
}
[data-dpr="2.75"] .top_bar {
  height: 121px;
}
[data-dpr="3"] .top_bar {
  height: 132px;
}
[data-dpr="4"] .top_bar {
  height: 176px;
}
#indexHeader .top_bar .abs_m {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  font-size: 20px;
}
[data-dpr="2"] #indexHeader .top_bar .abs_m {
  line-height: 88px;
}
[data-dpr="2.5"] #indexHeader .top_bar .abs_m {
  line-height: 110px;
}
[data-dpr="2.75"] #indexHeader .top_bar .abs_m {
  line-height: 121px;
}
[data-dpr="3"] #indexHeader .top_bar .abs_m {
  line-height: 132px;
}
[data-dpr="4"] #indexHeader .top_bar .abs_m {
  line-height: 176px;
}
[data-dpr="2"] #indexHeader .top_bar .abs_m {
  font-size: 40px;
}
[data-dpr="2.5"] #indexHeader .top_bar .abs_m {
  font-size: 50px;
}
[data-dpr="2.75"] #indexHeader .top_bar .abs_m {
  font-size: 55px;
}
[data-dpr="3"] #indexHeader .top_bar .abs_m {
  font-size: 60px;
}
[data-dpr="4"] #indexHeader .top_bar .abs_m {
  font-size: 80px;
}
#indexHeader .top_bar .refresh_title {
  background: url(//s3.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e38eae19e1cc57449a97be10f.png) no-repeat 100%;
  padding-left: 15px;
  background-size: 83px;
  width: 83px;
  height: 44px;
  display: inline-block;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_title {
  padding-left: 30px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_title {
  padding-left: 38px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_title {
  padding-left: 41px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_title {
  padding-left: 45px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_title {
  padding-left: 60px;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_title {
  background-size: 166px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_title {
  background-size: 208px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_title {
  background-size: 228px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_title {
  background-size: 249px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_title {
  background-size: 332px;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_title {
  width: 166px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_title {
  width: 208px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_title {
  width: 228px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_title {
  width: 249px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_title {
  width: 332px;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_title {
  height: 88px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_title {
  height: 110px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_title {
  height: 121px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_title {
  height: 132px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_title {
  height: 176px;
}
#indexHeader .top_bar .refresh_btn {
  background: url(//s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e43870246a450c5812493204bd.png) no-repeat 50%;
  width: 25px;
  height: 44px;
  background-size: 15px;
  display: inline-block;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_btn {
  width: 50px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_btn {
  width: 63px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_btn {
  width: 69px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_btn {
  width: 75px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_btn {
  width: 100px;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_btn {
  height: 88px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_btn {
  height: 110px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_btn {
  height: 121px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_btn {
  height: 132px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_btn {
  height: 176px;
}
[data-dpr="2"] #indexHeader .top_bar .refresh_btn {
  background-size: 30px;
}
[data-dpr="2.5"] #indexHeader .top_bar .refresh_btn {
  background-size: 38px;
}
[data-dpr="2.75"] #indexHeader .top_bar .refresh_btn {
  background-size: 41px;
}
[data-dpr="3"] #indexHeader .top_bar .refresh_btn {
  background-size: 45px;
}
[data-dpr="4"] #indexHeader .top_bar .refresh_btn {
  background-size: 60px;
}
#indexHeader .top_bar .abs_l,
#indexHeader .top_bar .abs_r {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#indexHeader .top_bar .abs_l {
  width: 54px;
  z-index: 100;
}
[data-dpr="2"] #indexHeader .top_bar .abs_l {
  width: 108px;
}
[data-dpr="2.5"] #indexHeader .top_bar .abs_l {
  width: 135px;
}
[data-dpr="2.75"] #indexHeader .top_bar .abs_l {
  width: 149px;
}
[data-dpr="3"] #indexHeader .top_bar .abs_l {
  width: 162px;
}
[data-dpr="4"] #indexHeader .top_bar .abs_l {
  width: 216px;
}
#indexHeader .top_bar .msg-box {
  background: url(//s3b.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f120fda7532de30660fd47455.png) no-repeat;
  background-size: contain;
  width: 32px;
  height: 25px;
  margin-left: 12px;
  display: block;
  position: relative;
}
[data-dpr="2"] #indexHeader .top_bar .msg-box {
  width: 64px;
}
[data-dpr="2.5"] #indexHeader .top_bar .msg-box {
  width: 80px;
}
[data-dpr="2.75"] #indexHeader .top_bar .msg-box {
  width: 88px;
}
[data-dpr="3"] #indexHeader .top_bar .msg-box {
  width: 96px;
}
[data-dpr="4"] #indexHeader .top_bar .msg-box {
  width: 128px;
}
[data-dpr="2"] #indexHeader .top_bar .msg-box {
  height: 50px;
}
[data-dpr="2.5"] #indexHeader .top_bar .msg-box {
  height: 63px;
}
[data-dpr="2.75"] #indexHeader .top_bar .msg-box {
  height: 69px;
}
[data-dpr="3"] #indexHeader .top_bar .msg-box {
  height: 75px;
}
[data-dpr="4"] #indexHeader .top_bar .msg-box {
  height: 100px;
}
[data-dpr="2"] #indexHeader .top_bar .msg-box {
  margin-left: 24px;
}
[data-dpr="2.5"] #indexHeader .top_bar .msg-box {
  margin-left: 30px;
}
[data-dpr="2.75"] #indexHeader .top_bar .msg-box {
  margin-left: 33px;
}
[data-dpr="3"] #indexHeader .top_bar .msg-box {
  margin-left: 36px;
}
[data-dpr="4"] #indexHeader .top_bar .msg-box {
  margin-left: 48px;
}
#indexHeader .top_bar .abs_r {
  right: 0;
  z-index: 100;
}
#indexHeader .top_bar .search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(//s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e566fac66cbb016bc72f15d4f39.png) no-repeat 50%;
  background-size: contain;
  margin-right: 12px;
}
[data-dpr="2"] #indexHeader .top_bar .search {
  width: 48px;
}
[data-dpr="2.5"] #indexHeader .top_bar .search {
  width: 60px;
}
[data-dpr="2.75"] #indexHeader .top_bar .search {
  width: 66px;
}
[data-dpr="3"] #indexHeader .top_bar .search {
  width: 72px;
}
[data-dpr="4"] #indexHeader .top_bar .search {
  width: 96px;
}
[data-dpr="2"] #indexHeader .top_bar .search {
  height: 48px;
}
[data-dpr="2.5"] #indexHeader .top_bar .search {
  height: 60px;
}
[data-dpr="2.75"] #indexHeader .top_bar .search {
  height: 66px;
}
[data-dpr="3"] #indexHeader .top_bar .search {
  height: 72px;
}
[data-dpr="4"] #indexHeader .top_bar .search {
  height: 96px;
}
[data-dpr="2"] #indexHeader .top_bar .search {
  margin-right: 24px;
}
[data-dpr="2.5"] #indexHeader .top_bar .search {
  margin-right: 30px;
}
[data-dpr="2.75"] #indexHeader .top_bar .search {
  margin-right: 33px;
}
[data-dpr="3"] #indexHeader .top_bar .search {
  margin-right: 36px;
}
[data-dpr="4"] #indexHeader .top_bar .search {
  margin-right: 48px;
}
.top_menu_bar {
  background: #f4f5f6;
  height: 37px;
  box-sizing: border-box;
}
[data-dpr="2"] .top_menu_bar {
  height: 74px;
}
[data-dpr="2.5"] .top_menu_bar {
  height: 93px;
}
[data-dpr="2.75"] .top_menu_bar {
  height: 102px;
}
[data-dpr="3"] .top_menu_bar {
  height: 111px;
}
[data-dpr="4"] .top_menu_bar {
  height: 148px;
}
.top_menu_bar .top_menu_more {
  float: right;
  position: relative;
}
.top_menu_bar .top_menu_more .list_shadow {
  position: absolute;
  width: 10px;
  height: 36px;
  left: -10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABXCAQAAACjUt0DAAAAAmJLR…AwtDMDRwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=) no-repeat 100%;
  background-size: contain;
  background-color: rgba(244, 245, 246, 0.3);
}
[data-dpr="2"] .top_menu_bar .top_menu_more .list_shadow {
  width: 20px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .list_shadow {
  width: 25px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .list_shadow {
  width: 28px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .list_shadow {
  width: 30px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .list_shadow {
  width: 40px;
}
[data-dpr="2"] .top_menu_bar .top_menu_more .list_shadow {
  height: 72px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .list_shadow {
  height: 90px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .list_shadow {
  height: 99px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .list_shadow {
  height: 108px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .list_shadow {
  height: 144px;
}
[data-dpr="2"] .top_menu_bar .top_menu_more .list_shadow {
  left: -20px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .list_shadow {
  left: -25px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .list_shadow {
  left: -28px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .list_shadow {
  left: -30px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .list_shadow {
  left: -40px;
}
.top_menu_bar .top_menu_more .more_btn {
  background: url(//s3.pstatp.com/growth/mobile_list/image/addred_channel_titlbar@3x_2106879383cd310a182d76e7e234db4c.png) no-repeat 50%;
  display: block;
  width: 40px;
  height: 36px;
  background-size: 20px;
}
[data-dpr="2"] .top_menu_bar .top_menu_more .more_btn {
  width: 80px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .more_btn {
  width: 100px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .more_btn {
  width: 110px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .more_btn {
  width: 120px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .more_btn {
  width: 160px;
}
[data-dpr="2"] .top_menu_bar .top_menu_more .more_btn {
  height: 72px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .more_btn {
  height: 90px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .more_btn {
  height: 99px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .more_btn {
  height: 108px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .more_btn {
  height: 144px;
}
[data-dpr="2"] .top_menu_bar .top_menu_more .more_btn {
  background-size: 40px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_more .more_btn {
  background-size: 50px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_more .more_btn {
  background-size: 55px;
}
[data-dpr="3"] .top_menu_bar .top_menu_more .more_btn {
  background-size: 60px;
}
[data-dpr="4"] .top_menu_bar .top_menu_more .more_btn {
  background-size: 80px;
}
.top_menu_bar .top_menu_list {
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.top_menu_bar .top_menu_list .btn.cur {
  color: #f85959;
}
.top_menu_bar .top_menu_list .btn {
  white-space: nowrap;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #505050;
  text-decoration: none;
  font-size: 17px;
  line-height: 26px;
  height: 26px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  padding-left: 20px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  padding-left: 25px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  padding-left: 28px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  padding-left: 30px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  padding-left: 40px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  padding-right: 20px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  padding-right: 25px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  padding-right: 28px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  padding-right: 30px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  padding-right: 40px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  font-size: 34px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  font-size: 43px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  font-size: 47px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  font-size: 51px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  font-size: 68px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  line-height: 52px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  line-height: 65px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  line-height: 72px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  line-height: 78px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  line-height: 104px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  height: 52px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  height: 65px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  height: 72px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  height: 78px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  height: 104px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  margin-left: 10px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  margin-left: 13px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  margin-left: 14px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  margin-left: 15px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  margin-left: 20px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  margin-top: 10px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  margin-top: 13px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  margin-top: 14px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  margin-top: 15px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  margin-top: 20px;
}
[data-dpr="2"] .top_menu_bar .top_menu_list .btn {
  margin-bottom: 10px;
}
[data-dpr="2.5"] .top_menu_bar .top_menu_list .btn {
  margin-bottom: 13px;
}
[data-dpr="2.75"] .top_menu_bar .top_menu_list .btn {
  margin-bottom: 14px;
}
[data-dpr="3"] .top_menu_bar .top_menu_list .btn {
  margin-bottom: 15px;
}
[data-dpr="4"] .top_menu_bar .top_menu_list .btn {
  margin-bottom: 20px;
}
/*header end*/
/* content */
content.feed-list-container {
  position: relative;
  display: block;
}
content.feed-list-container .list_content {
  -webkit-margin-after-collapse: separate;
  -webkit-margin-before-collapse: discard;
  -webkit-user-select: none;
}
content.feed-list-container section {
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgba(222, 222, 222, 0.6);
}
[data-dpr="2"] content.feed-list-container section {
  margin-left: 30px;
}
[data-dpr="2.5"] content.feed-list-container section {
  margin-left: 38px;
}
[data-dpr="2.75"] content.feed-list-container section {
  margin-left: 41px;
}
[data-dpr="3"] content.feed-list-container section {
  margin-left: 45px;
}
[data-dpr="4"] content.feed-list-container section {
  margin-left: 60px;
}
[data-dpr="2"] content.feed-list-container section {
  margin-right: 30px;
}
[data-dpr="2.5"] content.feed-list-container section {
  margin-right: 38px;
}
[data-dpr="2.75"] content.feed-list-container section {
  margin-right: 41px;
}
[data-dpr="3"] content.feed-list-container section {
  margin-right: 45px;
}
[data-dpr="4"] content.feed-list-container section {
  margin-right: 60px;
}
content.feed-list-container .article_link {
  display: block;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  min-height: 42px;
  font-size: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
}
[data-dpr="2"] content.feed-list-container .article_link {
  padding-top: 32px;
}
[data-dpr="2.5"] content.feed-list-container .article_link {
  padding-top: 40px;
}
[data-dpr="2.75"] content.feed-list-container .article_link {
  padding-top: 44px;
}
[data-dpr="3"] content.feed-list-container .article_link {
  padding-top: 48px;
}
[data-dpr="4"] content.feed-list-container .article_link {
  padding-top: 64px;
}
[data-dpr="2"] content.feed-list-container .article_link {
  padding-bottom: 32px;
}
[data-dpr="2.5"] content.feed-list-container .article_link {
  padding-bottom: 40px;
}
[data-dpr="2.75"] content.feed-list-container .article_link {
  padding-bottom: 44px;
}
[data-dpr="3"] content.feed-list-container .article_link {
  padding-bottom: 48px;
}
[data-dpr="4"] content.feed-list-container .article_link {
  padding-bottom: 64px;
}
[data-dpr="2"] content.feed-list-container .article_link {
  min-height: 84px;
}
[data-dpr="2.5"] content.feed-list-container .article_link {
  min-height: 105px;
}
[data-dpr="2.75"] content.feed-list-container .article_link {
  min-height: 116px;
}
[data-dpr="3"] content.feed-list-container .article_link {
  min-height: 126px;
}
[data-dpr="4"] content.feed-list-container .article_link {
  min-height: 168px;
}
content.feed-list-container .dotdot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
}
content.feed-list-container h3 {
  color: #222;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  overflow: hidden;
}
[data-dpr="2"] content.feed-list-container h3 {
  font-size: 34px;
}
[data-dpr="2.5"] content.feed-list-container h3 {
  font-size: 43px;
}
[data-dpr="2.75"] content.feed-list-container h3 {
  font-size: 47px;
}
[data-dpr="3"] content.feed-list-container h3 {
  font-size: 51px;
}
[data-dpr="4"] content.feed-list-container h3 {
  font-size: 68px;
}
[data-dpr="2"] content.feed-list-container h3 {
  line-height: 42px;
}
[data-dpr="2.5"] content.feed-list-container h3 {
  line-height: 53px;
}
[data-dpr="2.75"] content.feed-list-container h3 {
  line-height: 58px;
}
[data-dpr="3"] content.feed-list-container h3 {
  line-height: 63px;
}
[data-dpr="4"] content.feed-list-container h3 {
  line-height: 84px;
}
content.feed-list-container .list_image,
content.feed-list-container .list_img_holder_large {
  margin-top: 6px;
}
[data-dpr="2"] content.feed-list-container .list_image,
[data-dpr="2"] content.feed-list-container .list_img_holder_large {
  margin-top: 12px;
}
[data-dpr="2.5"] content.feed-list-container .list_image,
[data-dpr="2.5"] content.feed-list-container .list_img_holder_large {
  margin-top: 15px;
}
[data-dpr="2.75"] content.feed-list-container .list_image,
[data-dpr="2.75"] content.feed-list-container .list_img_holder_large {
  margin-top: 17px;
}
[data-dpr="3"] content.feed-list-container .list_image,
[data-dpr="3"] content.feed-list-container .list_img_holder_large {
  margin-top: 18px;
}
[data-dpr="4"] content.feed-list-container .list_image,
[data-dpr="4"] content.feed-list-container .list_img_holder_large {
  margin-top: 24px;
}
content.feed-list-container .list_image ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  text-align: center;
}
content.feed-list-container .list_image ul li {
  display: inline-block;
  overflow: hidden;
  width: 33.3%;
  box-sizing: border-box;
}
content.feed-list-container .list_image ul li:first-child {
  float: left;
  padding-right: 2px;
}
[data-dpr="2"] content.feed-list-container .list_image ul li:first-child {
  padding-right: 4px;
}
[data-dpr="2.5"] content.feed-list-container .list_image ul li:first-child {
  padding-right: 5px;
}
[data-dpr="2.75"] content.feed-list-container .list_image ul li:first-child {
  padding-right: 6px;
}
[data-dpr="3"] content.feed-list-container .list_image ul li:first-child {
  padding-right: 6px;
}
[data-dpr="4"] content.feed-list-container .list_image ul li:first-child {
  padding-right: 8px;
}
content.feed-list-container .list_image ul li:last-child {
  float: right;
  padding-left: 2px;
}
[data-dpr="2"] content.feed-list-container .list_image ul li:last-child {
  padding-left: 4px;
}
[data-dpr="2.5"] content.feed-list-container .list_image ul li:last-child {
  padding-left: 5px;
}
[data-dpr="2.75"] content.feed-list-container .list_image ul li:last-child {
  padding-left: 6px;
}
[data-dpr="3"] content.feed-list-container .list_image ul li:last-child {
  padding-left: 6px;
}
[data-dpr="4"] content.feed-list-container .list_image ul li:last-child {
  padding-left: 8px;
}
content.feed-list-container .list_img_holder {
  height: 1.96875rem;
  position: relative;
  background: url(//s3b.pstatp.com/growth/mobile_list/image/toutiaoicon_loading_textpage@3x_f7c130ce94874fad96bbd5aed7bf4982.png) #efefef no-repeat 50%;
  background-size: 50%;
}
content.feed-list-container .list_img_holder img {
  border: none;
  display: block;
  width: 100%;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity ease .3s;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  text-decoration: none;
}
content.feed-list-container .item_info {
  color: #999;
  overflow: hidden;
  font-size: 0;
  margin-top: 6px;
}
[data-dpr="2"] content.feed-list-container .item_info {
  margin-top: 12px;
}
[data-dpr="2.5"] content.feed-list-container .item_info {
  margin-top: 15px;
}
[data-dpr="2.75"] content.feed-list-container .item_info {
  margin-top: 17px;
}
[data-dpr="3"] content.feed-list-container .item_info {
  margin-top: 18px;
}
[data-dpr="4"] content.feed-list-container .item_info {
  margin-top: 24px;
}
content.feed-list-container .item_info span {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  vertical-align: middle;
}
[data-dpr="2"] content.feed-list-container .item_info span {
  font-size: 20px;
}
[data-dpr="2.5"] content.feed-list-container .item_info span {
  font-size: 25px;
}
[data-dpr="2.75"] content.feed-list-container .item_info span {
  font-size: 28px;
}
[data-dpr="3"] content.feed-list-container .item_info span {
  font-size: 30px;
}
[data-dpr="4"] content.feed-list-container .item_info span {
  font-size: 40px;
}
[data-dpr="2"] content.feed-list-container .item_info span {
  line-height: 24px;
}
[data-dpr="2.5"] content.feed-list-container .item_info span {
  line-height: 30px;
}
[data-dpr="2.75"] content.feed-list-container .item_info span {
  line-height: 33px;
}
[data-dpr="3"] content.feed-list-container .item_info span {
  line-height: 36px;
}
[data-dpr="4"] content.feed-list-container .item_info span {
  line-height: 48px;
}
content.feed-list-container .item_info .space {
  margin-right: 5px;
}
[data-dpr="2"] content.feed-list-container .item_info .space {
  margin-right: 10px;
}
[data-dpr="2.5"] content.feed-list-container .item_info .space {
  margin-right: 13px;
}
[data-dpr="2.75"] content.feed-list-container .item_info .space {
  margin-right: 14px;
}
[data-dpr="3"] content.feed-list-container .item_info .space {
  margin-right: 15px;
}
[data-dpr="4"] content.feed-list-container .item_info .space {
  margin-right: 20px;
}
content.feed-list-container .desc {
  display: inline-block;
  width: 67%;
  vertical-align: middle;
}
content.feed-list-container .image-margin-right {
  margin-right: 12px;
}
[data-dpr="2"] content.feed-list-container .image-margin-right {
  margin-right: 24px;
}
[data-dpr="2.5"] content.feed-list-container .image-margin-right {
  margin-right: 30px;
}
[data-dpr="2.75"] content.feed-list-container .image-margin-right {
  margin-right: 33px;
}
[data-dpr="3"] content.feed-list-container .image-margin-right {
  margin-right: 36px;
}
[data-dpr="4"] content.feed-list-container .image-margin-right {
  margin-right: 48px;
}
content.feed-list-container .middle_mode .list_img_holder {
  overflow: hidden;
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}
/* content end */
