
/* header */
#header{
	width: 100%;
	background:#fff;
    margin-bottom:16px;
    z-index:2;
}


.y-wrap .y-box {
    display: block;
}

.wtopbar {
    position: relative;
    height: 34px;
    line-height: 34px;
    background: #222;
    font-size: 14px;
    color: #fff;
}

.y-wrap .y-left {
    float: left;
}

.wtopbar .tb-item:first-child {
    border: 0;
}

.wtopbar .tb-item {
    position: relative;
    float: left;
    border-left: 1px solid #3a3a3a;
}
.wtopbar .weather {
    position: relative;
}

.wtopbar .tb-item {
    position: relative;
    float: left;
    border-left: 1px solid #3a3a3a;
}
.wtopbar .tb-link {
    padding: 0 10px;
    color: #fff;
}

.wtopbar .tb-link:hover {
    color: rgba(255,255,255,.9)
}

.y-wrap .y-right {
    float: right;
}

.wtopbar .userbox {
    margin-left: 14px;
    height: 34px;
}
.wuserbox .nav-login {
    position: relative;
    background-color: #ED4040;
    color: #fff;
    width: 68px;
    text-align: center;
    z-index: 10;
}
.wuserbox .nav-login a {
    color: #fff;
}

.wtopbar .more .layer {
     display: none; 
    position: absolute;
    border: 1px solid #d9d9d9;
    background: #fff;
    z-index: 20;
    font-size: 14px;
    right: 0;
    width: 116px;
}

.wtopbar .more .layer .layer-item {
    cursor: pointer;
    display: block;
    width: auto;
    height: 42px;
    line-height: 42px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.wtopbar .more .layer .layer-item:hover {
    background-color: #f2f2f5
}
.wtopbar .more:hover .layer {
    display: block
}



/* header end */


/* container */
.container{
	width: 1170px;
	margin:0 auto;
	min-height:1500px;
	background:#ccc;
}

/* 左侧通道 */
.container .index-channel{
	width:110px;
	height:600px;
	padding-right:30px;
	background-color:#fff;
}

.wchannel {
    width: 110px;
}
.wchannel .logo{
	display:block;
	width: 110px;
	height:28px;
	margin-bottom:16px;
}
.wchannel .logo img{
    width: 100%;
    height:100%;
}

.wchannel-item{
    display:block;
    width: 110px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#444;
    border-radius:4px;
    margin-bottom:2px;
    -webkit-transition-property: color,background-color;
    transition-property: color,background-color;
}
.wchannel-item:visited {
    color: #444;
}
.wchannel-item:hover {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background-color: #ed4040;
    color: #fff
}

@-webkit-keyframes hvr-back-pulse {
    0% {
        background-color: rgba(237,64,64,.6)
    }

    50% {
        background-color: rgba(237,64,64,.76)
    }
}

@keyframes hvr-back-pulse {
    0% {
        background-color: rgba(237,64,64,.6)
    }

    50% {
        background-color: rgba(237,64,64,.76)
    }
}
.wchannel-item.active{
    background-color:#ed4040;
    color:#fff;
}
.wchannel-item span{
    display:inline-block;
    font-size:16px;
}
/* 左侧通道end */


/* content */
.container .index-content {
    width: 660px;
}
/* content end */

/* container end */